AIRFLOW_WEBSERVER_SECRET_KEY=change-me
AIRFLOW_FERNET_KEY=Qr8Dj0h8v6Q+dummyfernetkeypkC6qO8FAXYw=
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_BASE_URL=http://localhost:8080
DATABASE_URL=postgresql+psycopg://app:app@host.docker.internal:5432/nilrag
